.miPerfilContainer {
    width: 700px;
    height: 650px;
    margin: 0 auto; 
    padding: 20px;
    background-color: white;
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    overflow-y: auto; 
  }
  
  .perfilUsuario {
    font-family: Arial, sans-serif;
    color: #333; 
    border: 1px outset grey;
    box-shadow: 10px 10px 20px;
    padding: 10px;
  }
  
  .perfilUsuario h2 {
    margin-bottom: 20px;
    color: #4a90e2; 
  }
  
  .perfilUsuario p {
    margin: 10px 0;
    font-size: 16px;
  }
  .perfilHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .menuLogo{
    width: 30px;
    height: 30px;
  }
  .homeHeader button{
    background-color: white;
    padding: 3px;
    width: 40px;
    height: 40px;
  }
  .opaque {
    opacity: 0.5; 
    pointer-events: none; 
  }