.navBarContainer {
    position: fixed; 
    top: 0;
    left: 0;
    height: 100vh; 
    width: 200px; 
    background-color: white;
    border: 1px solid dimgrey;
    box-shadow: 10px 0 10px rgba(0, 0, 0, 0.2); 
    z-index: 1000; 
    overflow-y: auto; 
}

.navBarHeader {
    display: flex;
    flex-direction: column;
    background-color: rgb(223, 217, 217);
    padding: 10px;
}

.buttonHeader {
    display: flex;
    justify-content: flex-end; 
}

.userHeader {
    text-align: center;
    margin-top: 10px;
}

.navBarHeader button {
    background-color: grey;
    color: white;
    border: none;
    width: 25px;
    height: 25px; 
    font-size: 16px; 
    cursor: pointer; 
}

.userHeader {
    color: blue;
    font-size: 20px;
}

.navBarOptions {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.navBarContainer hr {
    width: 100%;
    border: 0; 
    border-top: 1px solid #ddd; 
}

.opcion {
    display: flex;
    align-items: center;
    margin: 10px 0; 
}

.opcion img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.opcionLink {
    text-decoration: none;
    color: black;
    font-size: 15px;
    flex-grow: 1; 
}